.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 90%;
  margin: 10px;
}

h1 {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-form-field {
  display: block;
  margin: auto;
  width: 90%;
}
