.sidenav-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: min(20%, 300px);
  height: calc(100vh - 64px);
  padding: min(1%, 30px);
}

.sidenav-content button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  font-size: medium;
}

.sidenav-content mat-icon {
  margin-right: 8px;
}

.sidenav-content * {
  margin: 5% 0;
}

.app-title-box {
  flex-grow: 1;
  text-align: center;
  margin: auto;
}

.app-title-box h1 {
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
